* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    color: red;
    font-size: 24px;
    margin: 10px 0 0 0;
}

.medical-icon {
    font-size: 40px;
    color: red; 
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.consulta-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 800px;
    text-align: center;
    transition: all 0.3s ease;
}

.consulta-container:hover {
    transform: translateY(-5px);
}

.consulta-container h2 {
    margin-bottom: 20px;
    color: #333; 
}

/* Define grid para três colunas */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; /* Espaçamento entre colunas e linhas */
}

.input-group {
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group select,
.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
    appearance: none;
    background-color: #fff;
    padding-right: 30px; /* Espaço para a seta */
}

.input-group select:focus,
.input-group input:focus {
    border: 1px solid #007bff;
    outline: none;
}

.input-group select {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5'%3E%3Cpath fill='gray' d='M0 0h10L5 5z'/%3E%3C/svg%3E") no-repeat right 10px center;
    background-size: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
    grid-column: span 3; /* Expande o botão por toda a largura em três colunas */
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
}

p a {
    color: #007bff; 
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
    color: #0056b3; 
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .consulta-container {
        width: 90%;
    }

    .form-grid {
        grid-template-columns: 1fr; /* Altera para uma coluna em telas pequenas */
    }
}