* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    color: red;
    font-size: 24px;
    margin: 10px 0 0 0;
}

.medical-icon {
    font-size: 40px;
    color: red; 
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    transition: all 0.3s ease;
}

.login-container:hover {
    transform: translateY(-5px);
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333; 
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.input-group input:focus {
    border: 1px solid #007bff; 
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
}

p a {
    color: #007bff; 
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
    color: #0056b3; 
}

/* Consultas de mídia para responsividade */
@media (max-width: 768px) {
    .login-container {
        width: 90%; /* Largura responsiva para dispositivos móveis */
        padding: 20px; /* Menos padding em dispositivos menores */
    }

    .header h1 {
        font-size: 20px; /* Reduz o tamanho da fonte no cabeçalho */
    }
}

@media (min-width: 1200px) {
    body {
        height: 100vh; /* Garante que ocupe toda a altura da tela */
    }

    .login-container {
        width: 400px; /* Largura maior em telas grandes */
    }
}

