/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    background-color: #004080;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav
{
    margin-left: 190px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav ul li a:hover {
    background-color: #0066cc;
}

/* Hero Section */
.hero {
    background-image: url('/static/home/img/especialista-ou-generalista.jpg');
    background-size: cover;
    background-position: top;
    text-align: center;
    padding: 100px 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.723);
    background-blend-mode: overlay;
    width: 100vw;
    height: 88vh;
    background-repeat: no-repeat; /* Evita repetição */
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero .btn {
    display: inline-block;
    background-color: #0066cc;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #004080;
}

/* Footer */
.footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-top: 0px;
}

.footer p {
    font-size: 0.9rem;
}

/* Responsiveness */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
